#cs-item-editor-root {
  display: grid;
}
#cs-item-editor-col-1 {
  grid-column-start: 1;
  grid-column-end: 2;
  padding: 0px 12px;
}
#cs-item-editor-col-2 {
  grid-column-start: 2;
  grid-column-end: 3;
  padding: 0px 12px;
}

/* For desktop: */
@media only screen
  and (min-width: 1200px) 
  and (max-width: 1600px)  {
  #cs-item-editor-root {
    column-gap: 50px;
    max-width: calc(1200px + 50px);
  }
  #cs-item-editor-col-1 {
    width: 50vw;
    max-width: 600px;
  }
  #cs-item-editor-col-2 {
    width: 50vw;
    max-width: 600px;
    overflow: scroll;
  }
}

@media only screen
  and (min-width: 768px) 
  and (max-width: 1200px)  {
  #cs-item-editor-root {
    column-gap: 10px;
  }
  #cs-item-editor-col-1 {
    width: 50vw;
  }
  #cs-item-editor-col-2 {
    width: 50vw;
  }
}

/* For mobile phones: */
@media only screen
  and (max-width: 768px) {
  #cs-item-editor-root {}
  #cs-item-editor-col-1 {
    width: 100vw;
  }
  #cs-item-editor-col-2 {
    width: 100vw;
  }
}