/* For desktop: */
@media only screen
  and (min-width: 1200px) 
  and (max-width: 1600px)  {
  main {
    display: "flex";
    justify-content: "center";
  }
}

@media only screen
  and (min-width: 768px) 
  and (max-width: 1200px)  {
}

/* For mobile phones: */
@media only screen
  and (max-width: 768px) {
}

/* hide scrollbar for IE, Edge and Firefox */
.scrollable-div {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/* hide scrollbar for chrome, safari and opera */
.scrollable-div::-webkit-scrollbar {
  display: none;
}