.card-piece.backdrop.back {
  background-color: var(--white-X00);
  border: 5px solid var(--purple-600);
  border-radius: 16px;
  margin: 10px 20px;
}

.card-piece.backdrop.head {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: var(--white-800);
  border-radius: 16px 16px 0px 0px;
  padding: 6px 16px;
}
.card-piece.backdrop.head h2.title {
  font-size: 2rem;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  color: var(--lightblue-400);
}
.card-piece.backdrop.head h2.total {
  font-size: 1.5rem;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  color: var(--lightblue-400);
}

.card-piece.backdrop.body {
  background-color: var(--white-X00);
  border-radius: 0px 0px 16px 16px;
  padding: 4px 16px 16px 16px;
}
.card-piece.linestamp {}
.card-piece.linestamp h6.timestamp {
  font-family: 'DM Sans', sans-serif;
  color: var(--black-500);
  padding: 6px 0px;
}
.card-piece.linestamp .lineitem {
  display: flex;
  padding: 1px 0px;
}
.card-piece.linestamp h4.item {
  font-family: 'DM Sans', sans-serif;
  color: var(--black-X00);
}
.card-piece.linestamp h4.count {
  background-color: #000;
  font-family: 'Inter', sans-serif;
  color: var(--white-X00);
  border-radius: 50%;
  padding: 0px 7px;
  margin-left: 8px;
}